matplotlib
pandas
numpy
yfinance
scipy
flask
kiteconnect
python-dotenv
google-generativeai
google-genai
pypdf
fpdf2
pydantic
markdown
openpyxl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
